services:
  blank:
    image: ${REGISTRY}${COMPOSE_PROJECT_NAME}-blank:${VERSION:-latest}
    build:
      context: ./docker/build/blank
      args:
        BASE_IMAGE: ${BLANK_IMAGE}
  mssql-init:
    image: ${REGISTRY}${COMPOSE_PROJECT_NAME}-mssql-init:${VERSION:-latest}
    build:
      context: ./docker/build/mssql-init
      args:
        BASE_IMAGE: ${SITECORE_DOCKER_REGISTRY}sitecore-xm1-mssql-init:${SITECORE_VERSION}
        SPE_IMAGE: ${REGISTRY}${COMPOSE_PROJECT_NAME}-blank:${VERSION:-latest}
  solr-init:
    image: ${REGISTRY}${COMPOSE_PROJECT_NAME}-solr-init:${VERSION:-latest}
    build:
      context: ./docker/build/solr-init
      args:
        BASE_IMAGE: ${SITECORE_DOCKER_REGISTRY}sitecore-xm1-solr-init:${SITECORE_VERSION}
        SXA_IMAGE: ${REGISTRY}${COMPOSE_PROJECT_NAME}-blank:${VERSION:-latest}
  cm:
    image: ${REGISTRY}${COMPOSE_PROJECT_NAME}-cm:${VERSION:-latest}
    build:
      context: ./docker/build/cm
      args:
        BASE_IMAGE: ${SITECORE_DOCKER_REGISTRY}sitecore-xm1-cm:${SITECORE_VERSION}
        TOOLING_IMAGE: ${SITECORE_TOOLS_REGISTRY}sitecore-docker-tools-assets:${TOOLS_VERSION}
        MANAGEMENT_SERVICES_IMAGE: ${SITECORE_MODULE_REGISTRY}sitecore-management-services-xm1-assets:${MANAGEMENT_SERVICES_VERSION}
        SPE_IMAGE: ${REGISTRY}${COMPOSE_PROJECT_NAME}-blank:${VERSION:-latest}
        SPE_ASSETS_IMAGE: ${REGISTRY}${COMPOSE_PROJECT_NAME}-blank:${VERSION:-latest}
        SXA_IMAGE: ${REGISTRY}${COMPOSE_PROJECT_NAME}-blank:${VERSION:-latest}
