/data/cm/*
!/data/cm/.gitkeep
/data/cd/*
!/data/cd/.gitkeep
/data/mssql/*
!/data/mssql/.gitkeep
/data/solr/*
!/data/solr/.gitkeep

/deploy/*
!/deploy/.gitkeep

/build/solr-init/**/*
!/build/solr-init/**/.gitkeep
!/build/solr-init/**/*.md
/build/mssql-init/**/*
!/build/mssql-init/**/.gitkeep
!/build/mssql-init/**/*.md
/build/cm/**/*
!/build/cm/**/.gitkeep
!/build/cm/**/*.md
/build/releases/**/*
!/build/releases/**/.gitkeep

/traefik/certs/*
!/traefik/certs/.gitkeep

/releases/sat/*

*.crt
*.cer
*.key
*.pfx
*.exe