services:
  blank:
    image: ${REGISTRY}${COMPOSE_PROJECT_NAME}-blank:${VERSION:-latest}
  mssql-init:
    image: ${REGISTRY}${COMPOSE_PROJECT_NAME}-mssql-init:${VERSION:-latest}
  solr-init:
    image: ${REGISTRY}${COMPOSE_PROJECT_NAME}-solr-init:${VERSION:-latest}
  cm:
    image: ${REGISTRY}${COMPOSE_PROJECT_NAME}-cm:${VERSION:-latest}
    entrypoint: powershell -Command "& C:/tools/entrypoints/iis/Development.ps1"
    environment:
      SITECORE_DEVELOPMENT_PATCHES: CustomErrorsOff,DeviceDetectionOff